ep_client_test/putEprints2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Baek (home) -->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eprints.zu.edu.ua/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://eprints.zu.edu.ua/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="searchEprint" targetNamespace="http://eprints.zu.edu.ua/wsdl/">
	<types>
		<schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eprints.zu.edu.ua/wsdl/">
			<complexType name="creators">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ArrayofID">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ListCreators">
				<sequence maxOccurs="unbounded">
					<element name="item" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="given" type="string"/>
								<element name="family" type="string"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="ArrayOfstring">
				<complexContent>
					<extension base="soapenc:Array"/>
				</complexContent>
			</complexType>
			<complexType name="ListOfID">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="integer[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="searchEprintRequest">
		<part name="title" type="xsd:string"/>
		<part name="creators_name" type="tns:ListCreators"/>
		<part name="date" type="xsd:string">
			<documentation>data format 2005-02-02</documentation>
		</part>
		<part name="abstract" type="xsd:string"/>
		<part name="url_file" type="ns:anyURI">
			<documentation>url to pdf file item allow one file</documentation>
		</part>
		<part name="type" type="xsd:string"/>
	</message>
	<message name="searchEprintResponse">
		<part name="status" type="xsd:string"/>
	</message>
	<message name="NewMessage"/>
	<portType name="Eprints_PortType">
		<operation name="putEprint">
			<input message="tns:searchEprintRequest"/>
			<output message="tns:searchEprintResponse"/>
		</operation>
	</portType>
	<binding name="Eprints_Binding" type="tns:Eprints_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="putEprint">
			<soap:operation soapAction="urn:putEprint#putEprint"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:putEprint"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:putEprint"/>
			</output>
		</operation>
	</binding>
	<service name="Eprints_Service">
		<port name="Eprints_Port" binding="tns:Eprints_Binding">
			<soap:address location="http://eprints.vl-software.com/cgi/soap/putEprint.cgi"/>
		</port>
	</service>
</definitions>
