ep_client_test/SearchServ2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Baek (home) -->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eprints.zu.edu.ua/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://eprints.zu.edu.ua/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="searchEprint" targetNamespace="http://eprints.zu.edu.ua/wsdl/">
    <types>
        <schema targetNamespace="http://eprints.zu.edu.ua/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="creators">
                <sequence>
                    <element name="name" type="xsd:string"/>
                    <element name="id" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ArrayofID">
                <sequence>
                    <element name="name" type="xsd:string"/>
                    <element name="id" type="xsd:string"/>
                </sequence>
            </complexType>
            <xsd:complexType name="ArrayOfstring">
                <xsd:complexContent>
                    <xsd:restriction base="soapenc:Array">
                        <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <complexType name="ListOfID">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="integer[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="searchEprintRequest">
        <part name="key" type="xsd:string"/>
        <part name="fields" type="tns:ArrayOfstring"/>
        <part name="date_range" type="xsd:string"/>
        <part name="order" type="xsd:string"/>
    </message>
    <message name="searchEprintResponse">
        <part name="id" type="tns:ListOfID"/>
    </message>
    <message name="NewMessage"/>
    <portType name="Eprints_PortType">
        <operation name="searchEprint">
            <input message="tns:searchEprintRequest"/>
            <output message="tns:searchEprintResponse"/>
        </operation>
    </portType>
    <binding name="Eprints_Binding" type="tns:Eprints_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="searchEprint">
            <soap:operation soapAction="urn:SearchServ#searchEprint"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SearchServ"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SearchServ"/>
            </output>
        </operation>
    </binding>
    <service name="Eprints_Service">
        <port name="Eprints_Port" binding="tns:Eprints_Binding">
            <soap:address location="http://lib.iitta.gov.ua/cgi/soap/SearchServ2.cgi"/>
        </port>
    </service>
</definitions>
